{% extends 'manage/base.html.twig' %}

{% block title %}Список иконок{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Страницы</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Панель</li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0">Иконки</h6>
    </nav>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Иконки</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">

                    <div class="container">
                        <div class="row icon-examples mb-4">
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-active-40 text-warning"></i>
                                    <span class="text-warning">active-40</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-air-baloon text-warning"></i>
                                    <span class="text-warning">air-baloon</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-album-2 text-warning"></i>
                                    <span class="text-warning">album-2</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-align-center text-warning"></i>
                                    <span class="text-warning">align-center</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-align-left-2 text-warning"></i>
                                    <span class="text-warning">align-left-2</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-ambulance text-warning"></i>
                                    <span class="text-warning">ambulance</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-app text-warning"></i>
                                    <span class="text-warning">app</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-archive-2 text-warning"></i>
                                    <span class="text-warning">archive-2</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-atom text-warning"></i>
                                    <span class="text-warning">atom</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-badge text-warning"></i>
                                    <span class="text-warning">badge</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-bag-17 text-warning"></i>
                                    <span class="text-warning">bag-17</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-basket text-warning"></i>
                                    <span class="text-warning">basket</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-bell-55 text-warning"></i>
                                    <span class="text-warning">bell-55</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-bold-down text-warning"></i>
                                    <span class="text-warning">bold-down</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-bold-left text-warning"></i>
                                    <span class="text-warning">bold-left</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-bold-right text-warning"></i>
                                    <span class="text-warning">bold-right</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-bold-up text-warning"></i>
                                    <span class="text-warning">bold-up</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-bold text-warning"></i>
                                    <span class="text-warning">bold</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-book-bookmark text-warning"></i>
                                    <span class="text-warning">book-bookmark</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-books text-warning"></i>
                                    <span class="text-warning">books</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-box-2 text-warning"></i>
                                    <span class="text-warning">box-2</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-briefcase-24 text-warning"></i>
                                    <span class="text-warning">briefcase-24</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-building text-warning"></i>
                                    <span class="text-warning">building</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-bulb-61 text-warning"></i>
                                    <span class="text-warning">bulb-61</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-bullet-list-67 text-warning"></i>
                                    <span class="text-warning">bullet-list-67</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-bus-front-12 text-warning"></i>
                                    <span class="text-warning">bus-front-12</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-button-pause text-warning"></i>
                                    <span class="text-warning">button-pause</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-button-play text-warning"></i>
                                    <span class="text-warning">button-play</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-button-power text-warning"></i>
                                    <span class="text-warning">button-power</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-calendar-grid-58 text-warning"></i>
                                    <span class="text-warning">calendar-grid-58</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-camera-compact text-warning"></i>
                                    <span class="text-warning">camera-compact</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-caps-small text-warning"></i>
                                    <span class="text-warning">caps-small</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-cart text-warning"></i>
                                    <span class="text-warning">cart</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-chart-bar-32 text-warning"></i>
                                    <span class="text-warning">chart-bar-32</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-chart-pie-35 text-warning"></i>
                                    <span class="text-warning">chart-pie-35</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-chat-round text-warning"></i>
                                    <span class="text-warning">chat-round</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-check-bold text-warning"></i>
                                    <span class="text-warning">check-bold</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-circle-08 text-warning"></i>
                                    <span class="text-warning">circle-08</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-cloud-download-95 text-warning"></i>
                                    <span class="text-warning">cloud-download-95</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-cloud-upload-96 text-warning"></i>
                                    <span class="text-warning">cloud-upload-96</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-compass-04 text-warning"></i>
                                    <span class="text-warning">compass-04</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-controller text-warning"></i>
                                    <span class="text-warning">controller</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-credit-card text-warning"></i>
                                    <span class="text-warning">credit-card</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-curved-next text-warning"></i>
                                    <span class="text-warning">curved-next</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-delivery-fast text-warning"></i>
                                    <span class="text-warning">delivery-fast</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-diamond text-warning"></i>
                                    <span class="text-warning">diamond</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-email-83 text-warning"></i>
                                    <span class="text-warning">email-83</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-fat-add text-warning"></i>
                                    <span class="text-warning">fat-add</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-fat-delete text-warning"></i>
                                    <span class="text-warning">fat-delete</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-fat-remove text-warning"></i>
                                    <span class="text-warning">fat-remove</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-favourite-28 text-warning"></i>
                                    <span class="text-warning">favourite-28</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-folder-17 text-warning"></i>
                                    <span class="text-warning">folder-17</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-glasses-2 text-warning"></i>
                                    <span class="text-warning">glasses-2</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-hat-3 text-warning"></i>
                                    <span class="text-warning">hat-3</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-headphones text-warning"></i>
                                    <span class="text-warning">headphones</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-html5 text-warning"></i>
                                    <span class="text-warning">html5</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-istanbul text-warning"></i>
                                    <span class="text-warning">istanbul</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-circle-08 text-warning"></i>
                                    <span class="text-warning">circle-08</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-key-25 text-warning"></i>
                                    <span class="text-warning">key-25</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-laptop text-warning"></i>
                                    <span class="text-warning">laptop</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-like-2 text-warning"></i>
                                    <span class="text-warning">like-2</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-lock-circle-open text-warning"></i>
                                    <span class="text-warning">lock-circle-open</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-map-big text-warning"></i>
                                    <span class="text-warning">map-big</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-mobile-button text-warning"></i>
                                    <span class="text-warning">mobile-button</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-money-coins text-warning"></i>
                                    <span class="text-warning">money-coins</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-note-03 text-warning"></i>
                                    <span class="text-warning">note-03</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-notification-70 text-warning"></i>
                                    <span class="text-warning">notification-70</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-palette text-warning"></i>
                                    <span class="text-warning">palette</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-paper-diploma text-warning"></i>
                                    <span class="text-warning">paper-diploma</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-pin-3 text-warning"></i>
                                    <span class="text-warning">pin-3</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-planet text-warning"></i>
                                    <span class="text-warning">planet</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-ruler-pencil text-warning"></i>
                                    <span class="text-warning">ruler-pencil</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-satisfied text-warning"></i>
                                    <span class="text-warning">satisfied</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-scissors text-warning"></i>
                                    <span class="text-warning">scissors</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-send text-warning"></i>
                                    <span class="text-warning">send</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-settings-gear-65 text-warning"></i>
                                    <span class="text-warning">settings-gear-65</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-settings text-warning"></i>
                                    <span class="text-warning">settings</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-single-02 text-warning"></i>
                                    <span class="text-warning">single-02</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-single-copy-04 text-warning"></i>
                                    <span class="text-warning">single-copy-04</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-sound-wave text-warning"></i>
                                    <span class="text-warning">sound-wave</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-spaceship text-warning"></i>
                                    <span class="text-warning">spaceship</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-square-pin text-warning"></i>
                                    <span class="text-warning">square-pin</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-support-16 text-warning"></i>
                                    <span class="text-warning">support-16</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-tablet-button text-warning"></i>
                                    <span class="text-warning">tablet-button</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-tag text-warning"></i>
                                    <span class="text-warning">tag</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-tie-bow text-warning"></i>
                                    <span class="text-warning">tie-bow</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-time-alarm text-warning"></i>
                                    <span class="text-warning">time-alarm</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-trophy text-warning"></i>
                                    <span class="text-warning">trophy</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-tv-2 text-warning"></i>
                                    <span class="text-warning">tv-2</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-umbrella-13 text-warning"></i>
                                    <span class="text-warning">umbrella-13</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-user-run text-warning"></i>
                                    <span class="text-warning">user-run</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-vector text-warning"></i>
                                    <span class="text-warning">vector</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-watch-time text-warning"></i>
                                    <span class="text-warning">watch-time</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-world text-warning"></i>
                                    <span class="text-warning">world</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-zoom-split-in text-warning"></i>
                                    <span class="text-warning">zoom-split-in</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-collection text-warning"></i>
                                    <span class="text-warning">collection</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-image text-warning"></i>
                                    <span class="text-warning">image</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-shop text-warning"></i>
                                    <span class="text-warning">shop</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
    <div class="text-center">
                                        <i class="ni ni-ungroup text-warning"></i>
                                    <span class="text-warning">ungroup</span>
                                    </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="text-center">
                                    <i class="ni ni-world-2 text-warning"></i>
                                    <span class="text-warning">world-2</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-center">
                                    <i class="ni ni-ui-04 text-warning"></i>
                                    <span class="text-warning">ui-04</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
