{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Привет {{ is_granted('IS_AUTHENTICATED_FULLY') ? app.user.email : controller_name }}! ✅</h1>

    Это сообщение происходит из:
    <ul>
        <li>Ваш контроллер <code><a href="{{ '/var/www/sys4/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code></li>
        <li>Ваш шаблон <code><a href="{{ '/var/www/sys4/templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a></code></li>
    </ul>

    {% if user %}
        <p><a href="/logout">Выход</a></p>
    {% else %}
        <p><a href="/register">Регистрация</a></p>
        <p><a href="/login">Вход</a></p>
    {% endif %}

    <p><a href="/special">специальная</a></p>
    <p><a href="/manage">manage</a></p>
</div>
{% endblock %}
